body{
	position: relative;
	font-family: 'Ubuntu';
	overflow-x: hidden;
}

a{
	outline: none !important;
}

a:hover{
	text-transform: none;
}

h1, h2, h3, navbar-nav a{
	font-family: 'Ubuntu';
}

h1{
	margin-bottom: 50px;
}

b{
	font-size: 18px;
}

footer{
	width: 100%;
	height: 25px;
	background-color: #064D63;
}

.pull-up{
	margin-top: -50px;
}

.navbar-brand > img {
    height: 45px;
    
}

.navbar-default{
	background-color: #FFF;
	border-bottom: 2px solid #064D63;
	border-radius: 0px;
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	opacity: 0.9;
	transition: opacity 0.3s;
}

.nav a{
	border-bottom: 3px solid #FFF;
	transition: border-color 0.3s;
	font-family: 'Ubuntu';
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	padding: 15px 0;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	background-color: #FFF;
	border-color: #064D63;
	transition: border-color 0.3s;
}

#content{
	margin-top: 85px;
}

#content .container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.home-img img{
	width: 100%;
	position: relative;
}

#content .container-fluid.home-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, .6);
}

#content .container-fluid.home-img{
	position: fixed;
	z-index: -1;
	top: 0;
	
}

#content .container-fluid .container{
	margin-top: 50px;
	margin-bottom: 50px;
}

.container-fluid#about{
	background-color: #FFF;
}

#home{
	color: #FFF;
	position: relative;
	z-index: 1;
}

#about{
	position: relative;
}

#about img{
	border-radius: 50%;
}

#about p{
	font-size: 16px;
}

#about h3{
	margin-top: 0px;
}

.certificates{
	margin-top: 40px;
}

.certificates a{
	width: 100%;
}

.certificate{
	background-color: #064D63;

	border: 4px solid #064D63;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	color: #FFF;
	vertical-align: middle;
	padding-top: 70px;
	font-size: 28px;
	display: inline-block;
	transition: all 0.5s;
	margin-bottom: 20px;
}

.certificate.BEE{
	padding-top: 90px;
}

.certificate:hover{
	background-color: #FFF;
	color: #064D63;
	transition: all 0.5s;
}

#contact{
	position: relative;
}

.vcenter {
	position: absolute;
	top: 25%;
	z-index: 1;
}

#contact{
	background-color: #064D63;
	color: #FFF;
}


#contact > div > div > div{
	margin-bottom: 40px;
}

#contact .glyphicon{
	width: 25%;
	padding-bottom: 10px;
	font-size: 22px;
	border-bottom: 2px solid white;
	margin-bottom: 10px;
}

#contact span.contact-info{
	font-size: 14px;
}

.map-overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:350px; /* your iframe height */
   top:350px;  /* your iframe height */
   margin-top:-350px;  /* your iframe height */
}

.noscroll div{
	transform: translateY(50px);
	opacity: 0;
}

.onscroll div{
	transform: translateY(0px);
	opacity: 1;
}

.animate-fast{
	transition: all 1s;
}

.animate-slow{
	transition: all 1.5s;
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.home-img{
		height: 100%;
		width: auto;
	}

	.home-img img{
		height: 100%;
		width: auto;
		max-width: auto !important;
	}

	.about-img{
		margin-bottom: 40px;
	}	
}

@media screen and (max-width: 767px){
	.navbar-brand > img{
		height: 25px;
	}

	.nav > li{
		text-align: center;
	}

	.nav > li a{
		text-align: center;
		width: 33%;
		margin-left: 33%;
	}	

	.navbar-nav{
		margin-right: 0;
		margin-left: 0;
	}

	.navbar-default{
		opacity: 1;
	}

	.vcenter{
		top: 10%;
	}

	.about-img{
		margin-bottom: 40px;
	}

	h3{
		font-size: 18px;
	}

	#about p{
		font-size: 14px;
	}

	.home-img{
		height: 100%;
		width: auto;
	}

	.home-img img{
		height: 100%;
		width: auto;
		max-width: auto;
	}

	.noscroll div{
		transform: translateY(0px);
		opacity: 1;
	}	

	.certificate{
		height: 80vw;
		width: 80vw;
		font-size: 32px;

		padding-top: 30vw !important;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width: 550px){
	.certificate{
		font-size: 26px;
	}	
}

@media screen and (max-width: 400px){
	.certificate{
		font-size: 16px;
	}	
}